* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
    border: none;
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background-color: #cacaca;
}

.section {
    width: 100vw;
}

.section1 {
    background-color: rgb(255, 116, 116);
}

.section2 {
    background-color: rgb(255, 255, 117);
}

.section3 {
    background-color: rgb(117, 255, 117);
}

.section4 {
    background-color: rgb(117, 117, 255);
}

.section5 {
    background-color: violet;
}

.section__caption {
    height: 75%;
    width: 75%;
    margin: auto;
}

.inverse {
    background-color: #121212;
    color: #fefefe
}